App_Base/Microsoft.Flow/flows/182e42ad-43b9-40db-9a81-70ab8e6e8d2a/definition.json
{"name":"c69f74a3-7940-4d3a-a476-3dbaf9c7b38b","id":"/providers/Microsoft.Flow/flows/c69f74a3-7940-4d3a-a476-3dbaf9c7b38b","type":"Microsoft.Flow/flows","properties":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_logicflows","displayName":"TKE PC App - Create Teams post","definition":{"metadata":{"workflowEntityId":null,"processAdvisorMetadata":null,"flowChargedByPaygo":null,"flowclientsuspensionreason":"None","flowclientsuspensiontime":null,"flowclientsuspensionreasondetails":null,"creator":{"id":"f4073dd7-96fc-490d-afe1-283d9e2c3e55","type":"User","tenantId":"72f988bf-86f1-41af-91ab-2d7cd011db47"},"provisioningMethod":"FromDefinition","failureAlertSubscription":true,"clientLastModifiedTime":"2025-06-09T04:04:18.9143342Z","connectionKeySavedTimeKey":"2025-09-14T22:14:01.262992Z","creationSource":null},"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"manual":{"metadata":{"operationMetadataId":"e06fb3e9-8c2c-410e-80d1-44c02cc500ad"},"type":"Request","kind":"PowerAppV2","inputs":{"schema":{"type":"object","properties":{"number":{"title":"id","type":"number","x-ms-dynamically-added":true,"description":"Please enter a number","x-ms-content-hint":"NUMBER"},"email":{"title":"owner","type":"string","format":"email","x-ms-dynamically-added":true,"description":"Please enter an e-mail address","x-ms-content-hint":"EMAIL"},"email_1":{"title":"reviewer","type":"string","format":"email","x-ms-dynamically-added":true,"description":"Please enter an e-mail address","x-ms-content-hint":"EMAIL"},"text":{"title":"caller","type":"string","x-ms-dynamically-added":true,"description":"Please enter your input","x-ms-content-hint":"TEXT"}},"required":["number","email","email_1","text"]}}}},"actions":{"Condition":{"actions":{"Get_item_2":{"runAfter":{},"metadata":{"operationMetadataId":"3568814c-5544-4806-948d-7f603338f68f"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"GetItem"},"parameters":{"dataset":"https://microsoftapc.sharepoint.com/teams/TKEPCOperation","table":"af1ddceb-5743-4c0e-87b5-f97d3282b017","id":"@triggerBody()['number']"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"Post_message_in_a_chat_or_channel_2":{"runAfter":{"Get_item_2":["Succeeded"]},"metadata":{"operationMetadataId":"82e40033-f9b6-49cf-b565-42979bc40ee3"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_teams","connectionName":"shared_teams","operationId":"PostMessageToConversation"},"parameters":{"poster":"Flow bot","location":"Channel","body/recipient/groupId":"0ddc9d39-fbef-42dc-b039-231455ef357c","body/recipient/channelId":"19:e831497c91cb4f19844a12184177868c@thread.tacv2","body/messageBody":"<p>ICM Approval Request | @{outputs('Get_item_2')?['body/Servicelevel/Value']} | @{outputs('Get_item_2')?['body/Title']} | @{outputs('Get_item_2')?['body/Pod/Value']} | @{outputs('Get_item_2')?['body/Issuedescription']}<br>\n<br>\nAttendees: @{outputs('Get_an_@mention_token_for_a_user')?['body/atMention']} @{outputs('Get_an_@mention_token_for_a_user_2')?['body/atMention']}</p>"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"Respond_to_a_Power_App_or_flow":{"runAfter":{"Post_message_in_a_chat_or_channel_2":["Succeeded"]},"metadata":{"operationMetadataId":"d79f9c88-3e64-4e64-92a6-76396d76370c"},"type":"Response","kind":"PowerApp","inputs":{"statusCode":200,"body":{"url":"@outputs('Post_message_in_a_chat_or_channel_2')?['body/messageLink']"},"schema":{"type":"object","properties":{"url":{"title":"url","x-ms-dynamically-added":true,"type":"string"}}}}}},"runAfter":{"Get_an_@mention_token_for_a_user_2":["Succeeded"]},"else":{"actions":{"Get_item":{"runAfter":{},"metadata":{"operationMetadataId":"3568814c-5544-4806-948d-7f603338f68f"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"GetItem"},"parameters":{"dataset":"https://microsoftapc.sharepoint.com/teams/TKEPCOperation","table":"9c6b6c0f-eb40-405e-bc00-9d46f6f18798","id":"@triggerBody()['number']"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"Post_message_in_a_chat_or_channel":{"runAfter":{"Get_item":["Succeeded"]},"metadata":{"operationMetadataId":"82e40033-f9b6-49cf-b565-42979bc40ee3"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_teams","connectionName":"shared_teams","operationId":"PostMessageToConversation"},"parameters":{"poster":"Flow bot","location":"Channel","body/recipient/groupId":"0ddc9d39-fbef-42dc-b039-231455ef357c","body/recipient/channelId":"19:35231ea50a1d470884fc9c0bd74c7c64@thread.tacv2","body/messageBody":"<p>Consultation Request | @{outputs('Get_item')?['body/Title']} | @{outputs('Get_item')?['body/Pod/Value']} | @{outputs('Get_item')?['body/Requesttype/Value']} | @{outputs('Get_item')?['body/Issuedescription']}<br>\n<br>\nAttendees: @{outputs('Get_an_@mention_token_for_a_user')?['body/atMention']} @{outputs('Get_an_@mention_token_for_a_user_2')?['body/atMention']}</p>"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"Respond_to_a_Power_App_or_flow_2":{"runAfter":{"Post_message_in_a_chat_or_channel":["Succeeded"]},"metadata":{"operationMetadataId":"d79f9c88-3e64-4e64-92a6-76396d76370c"},"type":"Response","kind":"PowerApp","inputs":{"statusCode":200,"body":{"url":"@outputs('Post_message_in_a_chat_or_channel')?['body/messageLink']"},"schema":{"type":"object","properties":{"url":{"title":"url","x-ms-dynamically-added":true,"type":"string"}}}}}}},"expression":{"equals":["@triggerBody()['text']","icm"]},"metadata":{"operationMetadataId":"6eec15eb-bdfc-42ae-a99f-d0311886f071"},"type":"If"},"Get_an_@mention_token_for_a_user":{"runAfter":{},"metadata":{"operationMetadataId":"e40f4c3f-37e8-4aff-bb1a-33db714b6e68"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_teams","connectionName":"shared_teams","operationId":"AtMentionUser"},"parameters":{"userId":"@triggerBody()['email']"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"Get_an_@mention_token_for_a_user_2":{"runAfter":{"Get_an_@mention_token_for_a_user":["Succeeded"]},"metadata":{"operationMetadataId":"5e4b42f7-ff36-4773-8a50-a78c786590c7"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_teams","connectionName":"shared_teams","operationId":"AtMentionUser"},"parameters":{"userId":"@triggerBody()['email_1']"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}}}},"connectionReferences":{"shared_sharepointonline":{"connectionName":"639b0cdf758c49d7bd56c300ac069130","source":"Invoker","id":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","tier":"NotSpecified","apiName":"sharepointonline","isProcessSimpleApiReferenceConversionAlreadyDone":false},"shared_teams":{"connectionName":"5f3a740fb5184097a436dcfb369b7df7","source":"Invoker","id":"/providers/Microsoft.PowerApps/apis/shared_teams","tier":"NotSpecified","apiName":"teams","isProcessSimpleApiReferenceConversionAlreadyDone":false}},"flowFailureAlertSubscribed":false,"isManaged":false}}