App_Base/Microsoft.Flow/flows/68fdb0f2-56ad-4206-abf5-900ead0623df/definition.json
{"name":"942d3b92-11e4-4dfb-b3fa-68cfa6e0d022","id":"/providers/Microsoft.Flow/flows/942d3b92-11e4-4dfb-b3fa-68cfa6e0d022","type":"Microsoft.Flow/flows","properties":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_logicflows","displayName":"TKE PC - Onboard user","definition":{"metadata":{"workflowEntityId":null,"processAdvisorMetadata":null,"flowChargedByPaygo":null,"flowclientsuspensionreason":"None","flowclientsuspensiontime":null,"flowclientsuspensionreasondetails":null,"checklicenseresult":{"billingRestrictionReason":"None","ownerLeftOrg":false,"shouldAutoClaim":false},"creator":{"id":"f4073dd7-96fc-490d-afe1-283d9e2c3e55","type":"User","tenantId":"72f988bf-86f1-41af-91ab-2d7cd011db47"},"provisioningMethod":"FromDefinition","failureAlertSubscription":true,"clientLastModifiedTime":"2025-07-23T04:42:53.4785054Z","connectionKeySavedTimeKey":"2025-07-23T04:42:53.4785054Z","creationSource":null},"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"manual":{"metadata":{"operationMetadataId":"ee0e188f-030b-4013-8568-ad5e2e54734a"},"type":"Request","kind":"PowerAppV2","inputs":{"schema":{"type":"object","properties":{"email":{"title":"Email","type":"string","format":"email","x-ms-dynamically-added":true,"description":"Please enter an e-mail address","x-ms-content-hint":"EMAIL"}},"required":["email"]}}}},"actions":{"Send_an_HTTP_request_to_SharePoint":{"runAfter":{},"metadata":{"operationMetadataId":"2b26f9de-906b-4bad-b3ca-58cfd4d1bd74"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"HttpRequest"},"parameters":{"dataset":"https://microsoftapc.sharepoint.com/teams/TKEPCOperation","parameters/method":"POST","parameters/uri":"_api/web/siteGroups/GetById(67)/users","parameters/headers":{"accept":"application/json;odata=verbose","content-type":"application/json;odata=verbose"},"parameters/body":"{\n    \"__metadata\": {\n        \"type\": \"SP.User\"\n    },\n    \"LoginName\": \"i:0#.f|membership|@{triggerBody()['email']}\"\n}"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"Edit_App_Role_Assignment":{"runAfter":{"Respond_to_a_Power_App_or_flow_2":["Skipped"]},"metadata":{"operationMetadataId":"e8bbbe69-5a27-4b43-a791-0d24f8438575"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_powerappsforappmakers","connectionName":"shared_powerappsforappmakers","operationId":"Edit-AppRoleAssignment"},"parameters":{"app":"bd61e1e4-ff84-406a-8f14-6da344fe14a2","api-version":"2016-11-01","$filter":"environment eq 'e25ba5ff-b61c-4655-9d49-bd5fb0f57c35'","Content-Type":"application/json","body/put":[{"properties/principal/email":"@triggerBody()['email']","properties/principal/type":"User","properties/roleName":"CanView"}]},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"Respond_to_a_Power_App_or_flow":{"runAfter":{"Respond_to_a_Power_App_or_flow_3":["Skipped"]},"metadata":{"operationMetadataId":"4f1d6d48-40d1-44ca-a7df-9954ef14075b"},"type":"Response","kind":"PowerApp","inputs":{"statusCode":200,"body":{"status":"Request has been completed"},"schema":{"type":"object","properties":{"status":{"title":"Status","x-ms-dynamically-added":true,"type":"string"}}}}},"Respond_to_a_Power_App_or_flow_2":{"runAfter":{"Send_an_HTTP_request_to_SharePoint":["Failed"]},"metadata":{"operationMetadataId":"069c6711-e5b3-4bee-be8f-7a1cf8a540d4"},"type":"Response","kind":"PowerApp","inputs":{"statusCode":200,"body":{"status":"Unable to add user to SharePoint group"},"schema":{"type":"object","properties":{"status":{"title":"Status","x-ms-dynamically-added":true,"type":"string"}}}}},"Respond_to_a_Power_App_or_flow_3":{"runAfter":{"Edit_App_Role_Assignment":["Failed"]},"metadata":{"operationMetadataId":"a74090e1-e064-40e4-8ea6-88723b15a6a4"},"type":"Response","kind":"PowerApp","inputs":{"statusCode":200,"body":{"status":"Unable to share internal app to user"},"schema":{"type":"object","properties":{"status":{"title":"Status","x-ms-dynamically-added":true,"type":"string"}}}}}}},"connectionReferences":{"shared_sharepointonline":{"connectionName":"639b0cdf758c49d7bd56c300ac069130","source":"Invoker","id":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","tier":"NotSpecified","apiName":"sharepointonline","isProcessSimpleApiReferenceConversionAlreadyDone":false},"shared_powerappsforappmakers":{"connectionName":"shared-powerappsfora-2c3acbdd-065d-4f8c-ab58-11d67f67c704","source":"Invoker","id":"/providers/Microsoft.PowerApps/apis/shared_powerappsforappmakers","tier":"NotSpecified","apiName":"powerappsforappmakers","isProcessSimpleApiReferenceConversionAlreadyDone":false}},"flowFailureAlertSubscribed":false,"isManaged":false}}