App_Base/Microsoft.Flow/flows/b922319f-9f7a-4aa7-8ba7-38bd719188de/definition.json
{"name":"6b3210cb-2552-4b21-91d4-8e8ff5359390","id":"/providers/Microsoft.Flow/flows/6b3210cb-2552-4b21-91d4-8e8ff5359390","type":"Microsoft.Flow/flows","properties":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_logicflows","displayName":"TKE PC - Selfserve 1","definition":{"metadata":{"workflowEntityId":null,"processAdvisorMetadata":null,"flowChargedByPaygo":null,"flowclientsuspensionreason":"None","flowclientsuspensiontime":null,"flowclientsuspensionreasondetails":null,"checklicenseresult":{"billingRestrictionReason":"None","ownerLeftOrg":false,"shouldAutoClaim":false},"creator":{"id":"f4073dd7-96fc-490d-afe1-283d9e2c3e55","type":"User","tenantId":"72f988bf-86f1-41af-91ab-2d7cd011db47"},"provisioningMethod":"FromDefinition","failureAlertSubscription":true,"clientLastModifiedTime":"2025-07-21T09:22:20.9282793Z","connectionKeySavedTimeKey":"2025-09-10T00:16:01.436244Z","creationSource":"PowerappsPpux","modifiedSources":"PowerappsPpux"},"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"manual":{"metadata":{"operationMetadataId":"e03fa7b9-22d9-486f-9903-ac19f59fef4e"},"type":"Request","kind":"PowerAppV2","inputs":{"schema":{"type":"object","properties":{"text":{"title":"CaseID","type":"string","x-ms-dynamically-added":true,"description":"Please enter your input","x-ms-content-hint":"TEXT"}},"required":["text"]}}}},"actions":{"Get_items":{"runAfter":{},"metadata":{"operationMetadataId":"1da37a55-235d-4c84-b5ee-c2caec68625f"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"GetItems"},"parameters":{"dataset":"https://microsoftapc.sharepoint.com/teams/TKEPCOperation","table":"5ab2f260-44f4-4dd6-b676-2a25bf1e654f","$filter":"Title eq '@{triggerBody()['text']}'"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"Apply_to_each":{"foreach":"@outputs('Get_items')?['body/value']","actions":{"Update_item":{"runAfter":{},"metadata":{"operationMetadataId":"3e59675d-58c0-4e37-bbb8-a74a8e7fed8c"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"PatchItem"},"parameters":{"dataset":"https://microsoftapc.sharepoint.com/teams/TKEPCOperation","table":"5ab2f260-44f4-4dd6-b676-2a25bf1e654f","id":"@items('Apply_to_each')?['ID']","item/Title":"@items('Apply_to_each')?['Title']","item/Customertitle":"@items('Apply_to_each')?['Customertitle']","item/Status/Value":"Troubleshooting"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}}},"runAfter":{"Get_items":["Succeeded"]},"metadata":{"operationMetadataId":"920da6e9-701c-49b3-8c91-215d61be6395"},"type":"Foreach"},"Get_items_2":{"runAfter":{"Apply_to_each":["Succeeded"]},"metadata":{"operationMetadataId":"1da37a55-235d-4c84-b5ee-c2caec68625f"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"GetItems"},"parameters":{"dataset":"https://microsoftapc.sharepoint.com/teams/TKEPCOperation","table":"25e4a084-933b-42f0-af47-d4e00132b372","$filter":"Title eq '@{triggerBody()['text']}'"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"Apply_to_each_2":{"foreach":"@outputs('Get_items_2')?['body/value']","actions":{"Update_item_2":{"runAfter":{},"metadata":{"operationMetadataId":"b51ab1e1-aa6b-465b-a19f-954c835d5f0f"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"PatchItem"},"parameters":{"dataset":"https://microsoftapc.sharepoint.com/teams/TKEPCOperation","table":"25e4a084-933b-42f0-af47-d4e00132b372","id":"@items('Apply_to_each_2')?['ID']","item/Title":"@items('Apply_to_each_2')?['Title']","item/Reasonforrecovery":"@items('Apply_to_each_2')?['Reasonforrecovery']","item/Unresponsivecustomer":"@items('Apply_to_each_2')?['Unresponsivecustomer']","item/Caseage":"@items('Apply_to_each_2')?['Caseage']","item/Status/Value":"Pending"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}}},"runAfter":{"Get_items_2":["Succeeded"]},"metadata":{"operationMetadataId":"2be320ba-d856-492c-bf1b-3b2b4498a56a"},"type":"Foreach"}}},"connectionReferences":{"shared_sharepointonline":{"connectionName":"639b0cdf758c49d7bd56c300ac069130","source":"Invoker","id":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","tier":"NotSpecified","apiName":"sharepointonline","isProcessSimpleApiReferenceConversionAlreadyDone":false}},"flowFailureAlertSubscribed":false,"isManaged":false}}