App_Base/Microsoft.Flow/flows/08a865ae-02c8-4b0c-bf8d-fe3fa41ec38a/definition.json
{"name":"ae2714f1-e9a9-44ee-90d2-956c1e7eb6a4","id":"/providers/Microsoft.Flow/flows/ae2714f1-e9a9-44ee-90d2-956c1e7eb6a4","type":"Microsoft.Flow/flows","properties":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_logicflows","displayName":"TKE PC App - Outlook","definition":{"metadata":{"workflowEntityId":null,"processAdvisorMetadata":null,"flowChargedByPaygo":null,"flowclientsuspensionreason":"None","flowclientsuspensiontime":null,"flowclientsuspensionreasondetails":null,"creator":{"id":"f4073dd7-96fc-490d-afe1-283d9e2c3e55","type":"User","tenantId":"72f988bf-86f1-41af-91ab-2d7cd011db47"},"provisioningMethod":"FromDefinition","failureAlertSubscription":true,"clientLastModifiedTime":"2025-08-18T09:25:01.8550875Z","connectionKeySavedTimeKey":"2025-08-18T09:25:01.8550875Z","creationSource":"PowerappsPpux","modifiedSources":"PowerappsPpux"},"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"manual":{"metadata":{"operationMetadataId":"73e50389-92e0-46f2-a6a3-5209870a46b1"},"type":"Request","kind":"PowerAppV2","inputs":{"schema":{"type":"object","properties":{"text":{"title":"caseid","type":"string","x-ms-dynamically-added":true,"description":"Please enter your input","x-ms-content-hint":"TEXT"},"text_1":{"title":"issue","type":"string","x-ms-dynamically-added":true,"description":"Please enter your input","x-ms-content-hint":"TEXT"}},"required":["text","text_1"]}}}},"actions":{"Get_Active_folder_ID":{"runAfter":{},"metadata":{"operationMetadataId":"e2e2ddbc-07b0-4e45-a9c5-df071916bcee"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365","connectionName":"shared_office365","operationId":"HttpRequest"},"parameters":{"Uri":"https://graph.microsoft.com/v1.0/me/mailFolders/inbox/childFolders?$filter=displayName eq 'Active'","Method":"GET","ContentType":"application/json"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"Parse_JSON":{"runAfter":{"Get_Active_folder_ID":["Succeeded"]},"metadata":{"operationMetadataId":"b6db6ce3-4cb3-4713-a417-54d55ca1362f"},"type":"ParseJson","inputs":{"content":"@body('Get_Active_folder_ID')","schema":{"type":"object","properties":{"@@odata.context":{"type":"string"},"id":{"type":"string"},"displayName":{"type":"string"},"parentFolderId":{"type":"string"},"childFolderCount":{"type":"integer"},"unreadItemCount":{"type":"integer"},"totalItemCount":{"type":"integer"},"sizeInBytes":{"type":"integer"},"isHidden":{"type":"boolean"}}}}},"Extract_Active_ID":{"runAfter":{"Parse_JSON":["Succeeded"]},"metadata":{"operationMetadataId":"924224d4-1a62-4d0e-ae5d-e00f8db6bbe5"},"type":"Compose","inputs":"@body('Parse_JSON')?['value']?[0]?['id']"},"Create_sub_folder":{"runAfter":{"Extract_Active_ID":["Succeeded"]},"metadata":{"operationMetadataId":"8858075c-2d67-4a4b-b2b8-1c5c8cf7c116"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365","connectionName":"shared_office365","operationId":"HttpRequest"},"parameters":{"Uri":"https://graph.microsoft.com/v1.0/me/mailFolders/@{outputs('Extract_Active_ID')}/childFolders","Method":"POST","Body":"{\n  \"displayName\":  \"@{concat(triggerBody()['text'], ' - ', triggerBody()['text_1'])}\"\n}","ContentType":"application/json"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"Parse_JSON_2":{"runAfter":{"Create_sub_folder":["Succeeded"]},"metadata":{"operationMetadataId":"7a89684c-31d2-440b-b3f7-7105327ded50"},"type":"ParseJson","inputs":{"content":"@body('Create_sub_folder')","schema":{"type":"object","properties":{"@@odata.context":{"type":"string"},"id":{"type":"string"},"displayName":{"type":"string"},"parentFolderId":{"type":"string"},"childFolderCount":{"type":"integer"},"unreadItemCount":{"type":"integer"},"totalItemCount":{"type":"integer"},"sizeInBytes":{"type":"integer"},"isHidden":{"type":"boolean"}}}}},"Extract_Sub_folder_Id":{"runAfter":{"Parse_JSON_2":["Succeeded"]},"metadata":{"operationMetadataId":"924224d4-1a62-4d0e-ae5d-e00f8db6bbe5"},"type":"Compose","inputs":"@body('Parse_JSON_2')?['id']"},"Create_email_rule":{"runAfter":{"Extract_Sub_folder_Id":["Succeeded"]},"metadata":{"operationMetadataId":"a7cfd0e1-729c-4c1e-8284-f97cae746703"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365","connectionName":"shared_office365","operationId":"HttpRequest"},"parameters":{"Uri":"https://graph.microsoft.com/v1.0/me/mailFolders/inbox/messageRules","Method":"POST","Body":"{\n  \"displayName\": \"@{triggerBody()['text']}\",\n  \"sequence\": 1,\n  \"conditions\": {\n    \"subjectContains\": [ \"@{triggerBody()['text']}\" ]\n  },\n  \"actions\": {\n    \"moveToFolder\": \"@{outputs('Extract_Sub_folder_Id')}\"\n  },\n  \"isEnabled\": true,\n  \"stopProcessingRules\": true\n}","ContentType":"application/json"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"Parse_JSON_3":{"runAfter":{"Create_email_rule":["Succeeded"]},"metadata":{"operationMetadataId":"7a89684c-31d2-440b-b3f7-7105327ded50"},"type":"ParseJson","inputs":{"content":"@body('Create_email_rule')","schema":{"type":"object","properties":{"id":{"type":"string"},"displayName":{"type":"string"},"sequence":{"type":"integer"},"isEnabled":{"type":"boolean"},"hasError":{"type":"boolean"},"isReadOnly":{"type":"boolean"},"conditions":{"type":"object","properties":{"subjectContains":{"type":"array","items":{"type":"string"}}}},"actions":{"type":"object","properties":{"moveToFolder":{"type":"string"}}}}}}},"Extract_rule_id":{"runAfter":{"Parse_JSON_3":["Succeeded"]},"metadata":{"operationMetadataId":"9737f387-a461-4814-9134-c2cb63f6f2a7"},"type":"Compose","inputs":"@body('Parse_JSON_3')?['id']"},"Get_items":{"runAfter":{"Extract_rule_id":["Succeeded"]},"metadata":{"operationMetadataId":"d68cb0d3-55ab-4eb6-991b-2b7eeaac68f0"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"GetItems"},"parameters":{"dataset":"https://microsoftapc.sharepoint.com/teams/TKEPCOperation","table":"5ab2f260-44f4-4dd6-b676-2a25bf1e654f","$filter":"Title eq '@{triggerBody()['text']}'"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"Apply_to_each":{"foreach":"@outputs('Get_items')?['body/value']","actions":{"Update_item":{"runAfter":{},"metadata":{"operationMetadataId":"c038bf26-24c0-43d3-ad0e-2b30037de361"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"PatchItem"},"parameters":{"dataset":"https://microsoftapc.sharepoint.com/teams/TKEPCOperation","table":"5ab2f260-44f4-4dd6-b676-2a25bf1e654f","id":"@items('Apply_to_each')?['ID']","item/Title":"@items('Apply_to_each')?['Title']","item/Customertitle":"@items('Apply_to_each')?['Customertitle']","item/int_outlookrule_id":"@outputs('Extract_rule_id')","item/int_outlookfolder_id":"@outputs('Extract_Sub_folder_Id')"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}}},"runAfter":{"Get_items":["Succeeded"]},"metadata":{"operationMetadataId":"0d500a89-2e3b-4169-a3cf-bc599e7fc773"},"type":"Foreach"}}},"connectionReferences":{"shared_office365":{"connectionName":"shared-office365-3d572ffe-d029-4b5b-b644-e8461387bbb0","source":"Invoker","id":"/providers/Microsoft.PowerApps/apis/shared_office365","tier":"NotSpecified","apiName":"office365","isProcessSimpleApiReferenceConversionAlreadyDone":false},"shared_sharepointonline":{"connectionName":"639b0cdf758c49d7bd56c300ac069130","source":"Invoker","id":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","tier":"NotSpecified","apiName":"sharepointonline","isProcessSimpleApiReferenceConversionAlreadyDone":false}},"flowFailureAlertSubscribed":false,"isManaged":false}}